@charset "utf-08";

*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    color: #333;
}
/* 공통 */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: rgb(107, 107, 107);
    padding: 0 5px;
}

/* 컨테이너 */
.container{
    /* border: 1px solid red; */
    width: 100%;
    position: relative;
}
button{
    cursor: pointer;
}

/* header 파트-------------------------------- */

/* header01 */
.container .header01{
    /* border: 1px solid red; */
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}



/* header02 */

.container .header02 {
    width: 1100px;
    margin: 0 auto;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    /* 세로 중앙 정렬 */
    align-items: center;
    padding: 20px 0;
}
/* header02 아이콘 */
.container .header02 .header02_left{
    font-size: 25px;
}
.container .header02 .header02_left i{
    margin-right: 15px;
    color: #6f6f6f;
    cursor: pointer;
}
.container .header02 .header02_right{
    font-size: 25px;
}
.container .header02 .header02_right i{
    margin-left: 15px;
    color: #6f6f6f;
    cursor: pointer;
}
.container .header02 .header02_middle .menu li{
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-weight: 600;
}
.container .header02 .header02_middle .menu li a p{
    margin-bottom: 5px;
}
.container .header02 .header02_middle .menu li a{
    border-bottom: 4px solid transparent;
}
.container .header02 .header02_middle .menu li a:hover {
    border-bottom: 4px solid rgb(60, 152, 175);
    transition: border-color 0.5s ease;
}
/* .container .header02 .header02_middle .menu li a:hover::after{
    content:'　';
    width: 60px;
    height: 5px;
    background-color: aqua;
    position: absolute;
} */
.container .header02 .header02_middle .menu li img{
    width: 140px;
    height: 47px;
    margin-top: 6px;
    margin: 0 30px;
}

/* 메뉴바 마우스오버/아웃 */

.container .header02_menu{
    display: none;
    width: 100%;
    height: 42px;
    background-color: rgb(60, 152, 175);
    position: absolute;
    top: 117px;
    color: white;
    line-height: 42px;
    z-index: 20;
    
}
.container .header02_menu .menu_hidden{
    display: none;
}

/* header03 */

.container .header03{
    width: 100%;
    height: 42px;
    background-color: rgb(247, 247, 247);
    border-top: 1px solid darkgray;
    margin-bottom: 40px;
    position: relative;
}
/* 카테고리 */
.container .header03 .category{
    width: 100% ;
    height: 750px;
    background-color: #333;
    color: rgb(212, 212, 212);
    /* 클릭시 제일 위에 떠있어야함 ???????????????*/ 
    position: absolute;
    z-index: 10;
    padding-top: 40px;
    /* 클릭 전엔 숨기기 */
    display: none;
}
.container .header03 .category h2{
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 20px;
}
/* toggle 사용해 */
.container .header03 .category.active{
    display: block;
}

.container .header03 .category .sitemap{
    display: flex;
    gap: 39px;
    width: 1100px;
    /* border: 1px solid orange; */
    margin: 0 auto;
    /* 자동 줄개행 */
    flex-wrap: wrap;
    padding-top: 10px;
    position: relative;
}

.container .header03 .category .sitemap li{
    text-align: center;
    width: 150px;
    /* border: 1px solid orange; */
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 40px;
}
.container .header03 .category .sitemap .secondpart{
    display: flex;
    gap: 39px;
    position: absolute;
    top: 280px;
}
.container .header03 .category .sitemap li .title{
    border: 1px solid rgb(73, 73, 73);
    border-left: none;
    border-right: none;
    width: 150px;
    height: 45px;
    line-height: 40px;
    display: inline-block;
    font-size: 17px;
    color: white;
}
.container .header03 .header03_all{
    width: 1100px;
    height: 42px;
    /* border: 1px solid green; */
    margin: 0 auto;
    display: flex;
    /* display 사용시에만 가능 */
    align-items: center;
    font-size: 14px;
}

/* main 파트 --------------------------------------------*/

main{
    height: 700px;
}
main h2{
    width: 1100px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}
.container section{
    display: flex;
    width: 1100px;
    height: 650px;
    margin: 0 auto;
    position: relative;
}
.adult{
    /* 옆으로 나열된 요소들을 간격없이 가로로 나열해줌 */
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    /* width: 30px; */
    height: 30px;
}
.container section .left{
    width: 770px;
    height: 560px;
    border-top: 2px solid #555;
}
/* 관람인원선택, 초기화 버튼 */
.container section .left .first_li{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
    margin: 10px 0 ;
}
.container section .left ul .first_li #people_num{
    font-size: 20px;
}
.container section .left .first_li #reset_btn{
    width: 80px;
    height: 32px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: transparent;
    color: #333;
}
/* 인원 수 선택 버튼 파트 */
.container section .left .people_type{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: rgb(234, 234, 234);
    border: 1px solid lightgray;
    border-bottom: none;
}
.container section .left .people_type button{
    background-color: white;
    display: inline-block;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 20px;
}
.container section .left .people_type .p_num{
    background-color: white;
    display: inline-block;
    width: 50px;
    height: 30px;
    text-align: center;
}
.container section .left .people_type .type{
    padding-right: 10px;
}
.container section .left ul li{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

        /* 모달창-------------------------------------------- */
        .container .modal{
            /* border: 1px solid green; */
            /* padding: 20px; */
            display: inline-block;
            z-index: 50;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            display: none;
        }
        .container .modal .modal_title{
            background-color: rgb(68, 32, 131);
            padding: 10px;
            color: white;
            display: flex;
            justify-content: space-between;
        } 
        .container .modal .modal_title .close_btn{
            cursor: pointer;
        }
        .container .modal .modal_content{
            padding: 20px;
            /* border: 1px solid green; */
            background-color: white;
        }
        .container .modal .modal_content .content{
            margin-top: 0;
        }
        .container .modal .modal_content .modal_btn{
            display: block;
            margin: 0 auto;
            width: 55px;
            height: 36px;
            background-color: rgb(68, 32, 131);
            color: white;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
        }
        /* 오버레이 */
        .container .overlay{
            width: 100%;
            height: 100vh;
            background-color: rgba(0,0,0,0.8);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 20;
            display: none;
        }

main{
    border: 1px solid blue;
    width: 1100px;
    margin: 0 auto;
}
/* 좌석테이블 ------------------------------------------- */
.container .table_container{
    width: 770px;
    text-align: center;
    border: 1px solid red;
}

.seat_table{
    /* border: 1px solid blue; */
    border-collapse: collapse;
    display: inline-block;
    margin: 0 auto;

}

.abc_row{
    width: 25px;
    background-color: #ececec;
    color: rgb(63, 63, 63);
    font-weight: 600;
}

.seat_row{
    width: 25px;
    background-color: #6f6f6f;
    color: white;
    font-weight: 300;
}

/* right */
.container .right{
    border: 1px solid red;
    width: 310px;
    height: 556px;
    background-color: #333;
    color: #c7c7c7;
    margin-left: 30px;
    padding: 10px 20px;
    border-radius: 15px;
}

.container .right .movie_title #age{
    background-color: rgb(255, 123, 0);
    color: white;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}
.container .right .movie_title #title{
    font-size: 20px;
    color: white;
}
.container .right .movie_title .blur{
    margin-left: 37px;
    font-size: 15px;
}
.container .right .movie_info{
    border: 1px solid rgb(78, 78, 78);
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 15px;
}
.container .right .movie_info ul li{
    /* margin: 0;
    padding: 0; */
}
.container .right .movie_info ul li .time{
    display: inline-block;
    padding-top: 20px;
    color: white;
    font-size: 12px;
}
.container .right .movie_info .movie_img img{
    height: 107px;
    padding-top: 2px;
}
.container .right .seat_info{
    display: flex;
    border: 1px solid orange;
    height: 250px;
    justify-content: space-between;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 5px;
}
.container .right .seat_info .seat_select{
    /* height: 116px; */
    width: 150px;
    border: 1px solid orange;
    text-align: center;
    padding: 10px 0;
}
.container .right .seat_info .seat_select .blur{
    font-size: 15px;
}
.container .right .seat_info .seat_select .seat_array table{
    width: 100px;
    height:200px;
    /* border-collapse: collapse; */
    margin: 0 auto;
    border: rgb(168, 168, 168);
    border-spacing:10px ;
    padding-top: 15px;
}
.container .right .seat_info .seat_select .seat_array table td{
    /* margin: 5px; */
    border: 1px solid lightgray;
}