<<<<<<< HEAD
@charset "utf-8";

*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    color: #333;
=======
@charset "utf-8";

*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    color: #333;
>>>>>>> 0a3451c (20251015)
}